{{#section "title"}}
  Profile
{{/section}}
{{#section "css"}}
  <link rel="stylesheet" href="/public/styleProfile.css" />
{{/section}}
{{#section "js"}}
<script> $('#customFileMain').on('change', function(){ files = $(this)[0].files; name = ''; for(var i = 0; i < files.length; i++){ name += '\"' + files[i].name + '\"' + (i != files.length-1 ? ", " : ""); } $(".custom-file-label.main").html(name); });
</script>
<script> $('#customFileDetails1').on('change', function(){ files = $(this)[0].files; name = ''; for(var i = 0; i < files.length; i++){ name += '\"' + files[i].name + '\"' + (i != files.length-1 ? ", " : ""); } $(".custom-file-label.details1").html(name); });
</script>
<script> $('#customFileDetails2').on('change', function(){ files = $(this)[0].files; name = ''; for(var i = 0; i < files.length; i++){ name += '\"' + files[i].name + '\"' + (i != files.length-1 ? ", " : ""); } $(".custom-file-label.details2").html(name); });
</script>
<script src="/public/fileUpload.js"></script>
{{/section}}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">
            Profile of user
          </h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/">
                Home
              </a>
            </li>
            <li class="breadcrumb-item active">
              Profile
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
    <div class="container">
		<form
          method="POST"
          onsubmit="return Validate(this);"
          enctype="multipart/form-data"
        >
			<div class="row gutters">
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
					<div class="card h-100">
					<div class="card-body">
						<div class="account-settings">
						<div class="user-profile">
							<div class="user-avatar">
							<img
								{{#if userDetails.avatar}}
								src="{{imgDirParents}}/{{userDetails._id}}.{{userDetails.avatar}}"
								{{else}}
								src="{{imgDirParents}}/default.jpg"
								{{/if}}
								alt="Baggage Admin"
							/>
							</div>
							<h5 class="user-name">
							{{userDetails.username}}
							</h5>
							<h6 class="user-email">
							{{userDetails.email}}
							</h6>
						</div>
						<div class="about">
							<h5 class="mb-2 text-primary">
							About
							</h5>
							<p>
							I'm
							{{userDetails.username}}
							. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.
							</p>
						</div>
						</div>
					</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<h6 class="mb-3 text-primary">
							Personal Details
							</h6>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
							<label for="fullName">
								Full Name
							</label>
							<input
								type="text"
								class="form-control"
								id="fullName"
								placeholder="Enter full name"
								value="{{userDetails.username}}"
									name="username"
							/>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
							<label for="eMail">
								Email
							</label>
							<input
								type="email"
								class="form-control"
								id="eMail"
								placeholder="Enter email ID"
								value="{{userDetails.email}}"
									name="email"
							/>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
							<label for="phone">
								Phone
							</label>
							<input
								type="text"
								class="form-control"
								id="phone"
								placeholder="Enter phone number"
								{{#if userDetails.phone}}
								value=" {{userDetails.phone}} "
								{{else}}
								value=" not update"
								{{/if}}
									name="phone"
							/>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
							<label for="website">
								Status
							</label>
							<input
								type="text"
								class="form-control"
								id="website"
								{{#if userDetails.isActive}}
									value="Active"
								{{else}}
									value="Blocking"
								{{/if}}
								name="status"
							/>
							</div>
						</div>
						</div>
						
						<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="text-right">
							<a
								class="btn btn-success"
								href="javascript:history.back()"
								role="button"
								title="Back to List"
								{{! href="/admin/products/byCat/All" }}
							>
								<i aria-hidden="true">Back</i>
							</a>
							{{#if userDetails.isActive}}
								<button
								type="submit"
								class="btn btn-primary"
								formaction="/admin/management/blockUser?id={{userDetails._id}}"
								>
								{{! nếu submit k có formaction thì lấy action từ form gốc, nếu có formaction thì nút submit đó chỉ xử lí bằng formaction đó thôi }}
								<i class="fa fa-check" aria-hidden="true"></i>
								Block
								</button>
							{{else}}
								<button
								type="submit"
								class="btn btn-primary"
								formaction="/admin/management/unblockUser?id={{userDetails._id}}"
								>
								{{! nếu submit k có formaction thì lấy action từ form gốc, nếu có formaction thì nút submit đó chỉ xử lí bằng formaction đó thôi }}
								<i class="fa fa-check" aria-hidden="true"></i>
								Unblock
								</button>
							{{/if}}
							
							</div>
						</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</form>

    </div>
  </section>
</div>